openapi: 3.1.0
info:
  title: Lago API documentation
  description: |-
    Lago API allows your application to push customer information and metrics (events) from your application to the billing application.
  version: 1.33.3
  license:
    name: AGPLv3
    identifier: AGPLv3
  contact:
    email: tech@getlago.com
externalDocs:
  description: Lago Github
  url: https://github.com/getlago
servers:
  - url: https://api.getlago.com/api/v1
    description: US Lago cluster
  - url: https://api.eu.getlago.com/api/v1
    description: EU Lago cluster
security:
  - bearerAuth: []
tags:
  - name: activity_logs
    description: Everything about Activity logs
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/audit-logs/activity-logs-object
  - name: analytics
    description: Everything about Analytics
  - name: api_logs
    description: Everything about API logs
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/audit-logs/api-logs-object
  - name: billable_metrics
    description: Everything about Billable metric collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/billable-metrics/object
  - name: features
    description: Everything about Feature collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/features/object
  - name: entitlements
    description: Everything about Entitlement collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/entitlements/object
  - name: billing_entities
    description: Everything about Billing Entities
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/billing-entities/object
  - name: customers
    description: Everything about Customer collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/customers/object
  - name: plans
    description: Everything about Plan collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/plans/object
  - name: subscriptions
    description: Everything about Subscription collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/subscriptions/subscription-object
  - name: events
    description: Everything about Event collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/events/event-object
  - name: organizations
    description: Everything about Organization collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/organizations/organization-object
  - name: taxes
    description: Everything about Tax collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/taxes/tax-object
  - name: coupons
    description: Everything about Coupon collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/coupons/coupon-object
  - name: add_ons
    description: Everything about Add-on collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/add-ons/add-on-object
  - name: fees
    description: Everything about Fees
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/invoices/invoice-object#fee-object
  - name: invoices
    description: Everything about Invoice collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/invoices/invoice-object
  - name: wallets
    description: Everything about Wallet collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/wallets/wallet-object
  - name: credit_notes
    description: Everything about Credit notes collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/credit-notes/credit-note-object
  - name: webhooks
    description: Everything about Webhooks
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/webhooks/format---signature#1-retrieve-the-public-key
  - name: webhook_endpoints
    description: Everything about Webhook Endpoints
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/webhook-endpoints/webhook-endpoint-object
  - name: payment_receipts
    description: Everything about Payment receipts
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/payment-receipts/payment-receipt-object
  - name: payment_requests
    description: Everything about PaymentRequests
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/payment-requests/payment-request-object
  - name: payments
    description: Everything about Payments
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/api-reference/payments/payment-object

paths:
  /billing_entities:
    $ref: "./resources/billing_entities.yaml"
  /billing_entities/{code}:
    $ref: "./resources/billing_entity.yaml"
  /activity_logs:
    $ref: "./resources/activity_logs.yml"
  /activity_logs/{activity_id}:
    $ref: "./resources/activity_log.yml"
  /add_ons:
    $ref: "./resources/add_ons.yaml"
  /add_ons/{code}:
    $ref: "./resources/add_on.yaml"
  /api_logs:
    $ref: "./resources/api_logs.yml"
  /api_logs/{request_id}:
    $ref: "./resources/api_log.yml"
  /analytics/gross_revenue:
    $ref: "./resources/gross_revenues.yaml"
  /analytics/invoice_collection:
    $ref: "./resources/invoice_collections.yaml"
  /analytics/invoiced_usage:
    $ref: "./resources/invoiced_usages.yaml"
  /analytics/mrr:
    $ref: "./resources/mrrs.yaml"
  /analytics/overdue_balance:
    $ref: "./resources/overdue_balances.yaml"
  /analytics/usage:
    $ref: "./resources/usages.yaml"
  /applied_coupons:
    $ref: "./resources/applied_coupons.yaml"
  /billable_metrics:
    $ref: "./resources/billable_metrics.yaml"
  /billable_metrics/evaluate_expression:
    $ref: "./resources/billable_metric_evaluate_expression.yaml"
  /billable_metrics/{code}:
    $ref: "./resources/billable_metric.yaml"
  /features:
    $ref: "./resources/features.yaml"
  /features/{code}:
    $ref: "./resources/feature.yaml"
  /features/{code}/privileges/{privilege_code}:
    $ref: "./resources/feature_privilege.yml"
  /coupons:
    $ref: "./resources/coupons.yaml"
  /coupons/{code}:
    $ref: "./resources/coupon.yaml"
  /credit_notes:
    $ref: "./resources/credit_notes.yaml"
  /credit_notes/{lago_id}:
    $ref: "./resources/credit_note.yaml"
  /credit_notes/{lago_id}/download:
    $ref: "./resources/credit_note_download.yaml"
  /credit_notes/estimate:
    $ref: "./resources/credit_note_estimate.yaml"
  /credit_notes/{lago_id}/void:
    $ref: "./resources/credit_note_void.yaml"
  /customers:
    $ref: "./resources/customers.yaml"
  /customers/{external_customer_id}:
    $ref: "./resources/customer.yaml"
  /customers/{external_customer_id}/applied_coupons/{applied_coupon_id}:
    $ref: "./resources/customer_applied_coupon.yaml"
  /customers/{external_customer_id}/portal_url:
    $ref: "./resources/customer_portal_url.yaml"
  /customers/{external_customer_id}/current_usage:
    $ref: "./resources/customer_current_usage.yaml"
  /customers/{external_customer_id}/projected_usage:
    $ref: "./resources/customer_projected_usage.yaml"
  /customers/{external_customer_id}/past_usage:
    $ref: "./resources/customer_past_usage.yaml"
  /customers/{external_customer_id}/checkout_url:
    $ref: "./resources/customer_checkout_url.yaml"
  /events:
    $ref: "./resources/events.yaml"
  /events/batch:
    $ref: "./resources/events_batch.yaml"
  /events/estimate_fees:
    $ref: "./resources/event_estimate_fees.yaml"
  /events/estimate_instant_fees:
    $ref: "./resources/event_estimate_instant_fees.yaml"
  /events/batch_estimate_instant_fees:
    $ref: "./resources/events_batch_estimate_instant_fees.yaml"
  /events/{transaction_id}:
    $ref: "./resources/event.yaml"
  /fees:
    $ref: "./resources/fees.yaml"
  /fees/{lago_id}:
    $ref: "./resources/fee.yaml"
  /invoices:
    $ref: "./resources/invoices.yaml"
  /invoices/{lago_id}:
    $ref: "./resources/invoice.yaml"
  /invoices/{lago_id}/download:
    $ref: "./resources/invoice_download.yaml"
  /invoices/{lago_id}/finalize:
    $ref: "./resources/invoice_finalize.yaml"
  /invoices/{lago_id}/lose_dispute:
    $ref: "./resources/invoice_lose_dispute.yaml"
  /invoices/{lago_id}/refresh:
    $ref: "./resources/invoice_refresh.yaml"
  /invoices/{lago_id}/retry:
    $ref: "./resources/invoice_retry.yaml"
  /invoices/{lago_id}/payment_url:
    $ref: "./resources/invoice_payment_url.yaml"
  /invoices/preview:
    $ref: "./resources/invoice_preview.yaml"
  /invoices/{lago_id}/retry_payment:
    $ref: "./resources/invoice_retry_payment.yaml"
  /invoices/{lago_id}/void:
    $ref: "./resources/invoice_void.yaml"
  /organizations:
    $ref: "./resources/organizations.yaml"
  /payment_receipts:
    $ref: "./resources/payment_receipts.yaml"
  /payment_receipts/{lago_id}:
    $ref: "./resources/payment_receipt.yaml"
  /payment_requests:
    $ref: "./resources/payment_requests.yaml"
  /payment_requests/{lago_id}:
    $ref: "./resources/payment_request.yaml"
  /payments:
    $ref: "./resources/payments.yaml"
  /payments/{lago_id}:
    $ref: "./resources/payment.yaml"
  /plans:
    $ref: "./resources/plans.yaml"
  /plans/{code}:
    $ref: "./resources/plan.yaml"
  /plans/{code}/entitlements:
    $ref: "./resources/plan_entitlements.yaml"
  /plans/{code}/entitlements/{feature_code}:
    $ref: "./resources/plan_entitlement.yaml"
  /plans/{code}/entitlements/{feature_code}/privileges/{privilege_code}:
    $ref: "./resources/plan_entitlement_privileges.yaml"
  /subscriptions:
    $ref: "./resources/subscriptions.yaml"
  /subscriptions/{external_id}:
    $ref: "./resources/subscription.yaml"
  /subscriptions/{external_id}/lifetime_usage:
    $ref: "./resources/subscription_lifetime_usage.yaml"
  /subscriptions/{external_id}/alerts:
    $ref: "./resources/subscription_alerts.yaml"
  /subscriptions/{external_id}/alerts/{code}:
    $ref: "./resources/subscription_alert.yaml"
  /subscriptions/{external_id}/entitlements:
    $ref: "./resources/subscription_entitlements.yaml"
  /subscriptions/{external_id}/entitlements/{feature_code}:
    $ref: "./resources/subscription_entitlement.yaml"
  /subscriptions/{external_id}/entitlements/{feature_code}/privileges/{privilege_code}:
    $ref: "./resources/subscription_entitlement_privileges.yaml"
  /taxes:
    $ref: "./resources/taxes.yaml"
  /taxes/{code}:
    $ref: "./resources/tax.yaml"
  /wallets:
    $ref: "./resources/wallets.yaml"
  /wallets/{lago_id}:
    $ref: "./resources/wallet.yaml"
  /wallet_transactions:
    $ref: "./resources/wallet_top_up.yaml"
  /wallet_transactions/{lago_id}:
    $ref: "./resources/wallet_transaction.yaml"
  /wallet_transactions/{lago_id}/payment_url:
    $ref: "./resources/wallet_transaction_payment_url.yaml"
  /wallets/{lago_id}/wallet_transactions:
    $ref: "./resources/wallet_transactions.yaml"
  /webhooks/public_key:
    $ref: "./resources/webhook_public_key.yaml"
  /webhook_endpoints:
    $ref: "./resources/webhook_endpoints.yaml"
  /webhook_endpoints/{lago_id}:
    $ref: "./resources/webhook_endpoint.yaml"
webhooks:
  alert_triggered:
    $ref: "./webhooks/alert_triggered.yaml"
  customer_created:
    $ref: "./webhooks/customer_created.yaml"
  customer_updated:
    $ref: "./webhooks/customer_updated.yaml"
  customer_accounting_provider_created:
    $ref: "./webhooks/customer_accounting_provider_created.yaml"
  customer_accounting_provider_error:
    $ref: "./webhooks/customer_accounting_provider_error.yaml"
  customer_crm_provider_created:
    $ref: "./webhooks/customer_crm_provider_created.yaml"
  customer_crm_provider_error:
    $ref: "./webhooks/customer_crm_provider_error.yaml"
  customer_payment_provider_created:
    $ref: "./webhooks/customer_payment_provider_created.yaml"
  customer_payment_provider_error:
    $ref: "./webhooks/customer_payment_provider_error.yaml"
  customer_checkout_url_generated:
    $ref: "./webhooks/customer_checkout_url_generated.yaml"
  customer_tax_provider_error:
    $ref: "./webhooks/customer_tax_provider_error.yaml"
  customer_vies_check:
    $ref: "./webhooks/customer_vies_check.yaml"
  credit_note_created:
    $ref: "./webhooks/credit_note_created.yaml"
  credit_note_generated:
    $ref: "./webhooks/credit_note_generated.yaml"
  credit_note_provider_refund_failure:
    $ref: "./webhooks/credit_note_provider_refund_failure.yaml"
  dunning_campaign_finished:
    $ref: "./webhooks/dunning_campaign_finished.yaml"
  event_error:
    $ref: "./webhooks/event_error.yaml"
  events_errors:
    $ref: "./webhooks/events_errors.yaml"
  feature.created:
    $ref: "./webhooks/feature_created.yaml"
  feature.updated:
    $ref: "./webhooks/feature_updated.yaml"
  feature.deleted:
    $ref: "./webhooks/feature_deleted.yaml"
  fee_created:
    $ref: "./webhooks/fee_created.yaml"
  fee_tax_provider_error:
    $ref: "./webhooks/fee_tax_provider_error.yaml"
  invoice_created:
    $ref: "./webhooks/invoice_created.yaml"
  invoice_one_off_created:
    $ref: "./webhooks/invoice_one_off_created.yaml"
  invoice_add_on_added:
    $ref: "./webhooks/invoice_add_on_added.yaml"
  invoice_paid_credit_added:
    $ref: "./webhooks/invoice_paid_credit_added.yaml"
  invoice_generated:
    $ref: "./webhooks/invoice_generated.yaml"
  invoice_drafted:
    $ref: "./webhooks/invoice_drafted.yaml"
  invoice_voided:
    $ref: "./webhooks/invoice_voided.yaml"
  invoice_payment_dispute_lost:
    $ref: "./webhooks/invoice_payment_dispute_lost.yaml"
  invoice_payment_status_updated:
    $ref: "./webhooks/invoice_payment_status_updated.yaml"
  invoice_payment_overdue:
    $ref: "./webhooks/invoice_payment_overdue.yaml"
  invoice_payment_failure:
    $ref: "./webhooks/invoice_payment_failure.yaml"
  invoice_resynced:
    $ref: "./webhooks/invoice_resynced.yaml"
  integration_provider_error:
    $ref: "./webhooks/integration_provider_error.yaml"
  payment_requires_action:
    $ref: "./webhooks/payment_requires_action.yaml"
  payment_provider_error:
    $ref: "./webhooks/payment_provider_error.yaml"
  payment_request_created:
    $ref: "./webhooks/payment_request_created.yaml"
  payment_request_payment_failure:
    $ref: "./webhooks/payment_request_payment_failure.yaml"
  payment_request_payment_status_updated:
    $ref: "./webhooks/payment_request_payment_status_updated.yaml"
  plan_created:
    $ref: "./webhooks/plan_created.yaml"
  plan_updated:
    $ref: "./webhooks/plan_updated.yaml"
  plan_deleted:
    $ref: "./webhooks/plan_deleted.yaml"
  subscription_terminated:
    $ref: "./webhooks/subscription_terminated.yaml"
  subscription_started:
    $ref: "./webhooks/subscription_started.yaml"
  subscription_updated:
    $ref: "./webhooks/subscription_updated.yaml"
  subscription_termination_alert:
    $ref: "./webhooks/subscription_termination_alert.yaml"
  subscription_trial_ended:
    $ref: "./webhooks/subscription_trial_ended.yaml"
  subscription_usage_threshold_reached:
    $ref: "./webhooks/subscription_usage_threshold_reached.yaml"
  wallet_depleted_ongoing_balance:
    $ref: "./webhooks/wallet_depleted_ongoing_balance.yaml"
  wallet_transaction_created:
    $ref: "./webhooks/wallet_transaction_created.yaml"
  wallet_transaction_updated:
    $ref: "./webhooks/wallet_transaction_updated.yaml"
  wallet_transaction_payment_failure:
    $ref: "./webhooks/wallet_transaction_payment_failure.yaml"
components:
  parameters:
    $ref: "./parameters/_index.yaml"
  schemas:
    $ref: "./schemas/_index.yaml"
  responses:
    $ref: "./responses/_index.yaml"
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
