openapi: 3.0.3
info:
  title: Lago API documentation
  description: |-
    Lago API allows your application to push customer information and metrics (events) from your application to the billing application.
  version: 0.37.0-beta
  license:
    name: AGPLv3
  contact:
    email: tech@getlago.com
externalDocs:
  description: Lago Github
  url: https://github.com/getlago
servers:
  - url: https://api.getlago.com/api/v1
security:
  - bearerAuth: []
tags:
  - name: billable_metrics
    description: Everything about Billable metric collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/billable_metrics/billable-metric-object
  - name: customers
    description: Everything about Customer collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/customers/customer-object
  - name: plans
    description: Everything about Plan collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/plans/plan-object
  - name: subscriptions
    description: Everything about Subscription collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/subscriptions/subscription-object
  - name: events
    description: Everything about Event collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/events/event-object
  - name: organizations
    description: Everything about Organization collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/organizations/organization-object
  - name: coupons
    description: Everything about Coupon collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/coupons/coupon-object
  - name: add_ons
    description: Everything about Add-on collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/add_ons/add-on-object
  - name: fees
    description: Everything about Fees
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/invoices/invoice-object#fee-object
  - name: webhooks
    description: Everything about Webhooks
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/webhooks/message-signature#1-retrieve-the-public-key
  - name: invoices
    description: Everything about Invoice collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/invoices/invoice-object
  - name: wallets
    description: Everything about Wallet collection
    externalDocs:
      description: Find out more
      url: https://doc.getlago.com/docs/api/wallets/wallet-object
  - name: credit_notes
    description: Everything about Credit notes collection
paths:
  /add_ons:
    $ref: './resources/add_ons.yaml'
  /add_ons/{code}:
    $ref: './resources/add_on.yaml'
  /applied_add_ons:
    $ref: './resources/applied_add_ons.yaml'
  /applied_coupons:
    $ref: './resources/applied_coupons.yaml'
  /billable_metrics:
    $ref: './resources/billable_metrics.yaml'
  /billable_metrics/{code}:
    $ref: './resources/billable_metric.yaml'
  /billable_metrics/{code}/groups:
    $ref: './resources/billable_metric_groups.yaml'
  /coupons:
    $ref: './resources/coupons.yaml'
  /coupons/{code}:
    $ref: './resources/coupon.yaml'
  /credit_notes:
    $ref: './resources/credit_notes.yaml'
  /credit_notes/{lago_id}:
    $ref: './resources/credit_note.yaml'
  /credit_notes/{lago_id}/download:
    $ref: './resources/credit_note_download.yaml'
  /credit_notes/{lago_id}/void:
    $ref: './resources/credit_note_void.yaml'
  /customers:
    $ref: './resources/customers.yaml'
  /customers/{external_id}:
    $ref: './resources/customer.yaml'
  /customers/{external_customer_id}/applied_coupons/{applied_coupon_id}:
    $ref: './resources/customer_applied_coupon.yaml'
  /customers/{external_customer_id}/portal_url:
    $ref: './resources/customer_portal_url.yaml'
  /customers/{external_customer_id}/current_usage:
    $ref: './resources/customer_current_usage.yaml'
  /events:
    $ref: './resources/events.yaml'
  /events/batch:
    $ref: './resources/events_batch.yaml'
  /events/{transaction_id}:
    $ref: './resources/event.yaml'
  /fees:
    $ref: './resources/fees.yaml'
  /fees/{lago_id}:
    $ref: './resources/fee.yaml'
  /invoices:
    $ref: './resources/invoices.yaml'
  /invoices/{lago_id}:
    $ref: './resources/invoice.yaml'
  /invoices/{lago_id}/download:
    $ref: './resources/invoice_download.yaml'
  /invoices/{lago_id}/finalize:
    $ref: './resources/invoice_finalize.yaml'
  /invoices/{lago_id}/refresh:
    $ref: './resources/invoice_refresh.yaml'
  /invoices/{lago_id}/retry_payment:
    $ref: './resources/invoice_retry_payment.yaml'
  /organizations:
    $ref: './resources/organizations.yaml'
  /plans:
    $ref: './resources/plans.yaml'
  /plans/{code}:
    $ref: './resources/plan.yaml'
  /subscriptions:
    $ref: './resources/subscriptions.yaml'
  /subscriptions/{external_id}:
    $ref: './resources/subscription.yaml'
  /wallets:
    $ref: './resources/wallets.yaml'
  /wallets/{lago_id}:
    $ref: './resources/wallet.yaml'
  /wallet_transactions:
    $ref: './resources/wallet_top_up.yaml'
  /wallets/{lago_id}/wallet_transactions:
    $ref: './resources/wallet_transactions.yaml'


  # TODO: split requests into multiple files
  /events/estimate_fees:
    post:
      tags:
        - events
      summary: Estimate fees for an pay in advance charge
      description: Estimate the fees that would be created after reception of an event for a billable metric attached to one or multiple pay in advance charges
      operationId: eventEstimateFees
      requestBody:
        description: Event payload for pay in advance fee estimate
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventEstimateFeesInput'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fees'
        '400':
          $ref: './responses/BadRequest.yaml'
        '401':
          $ref: './responses/Unauthorized.yaml'
        '404':
          $ref: './responses/NotFound.yaml'
        '422':
          $ref: './responses/UnprocessableEntity.yaml'
  /webhooks/public_key:
    get:
      tags:
        - webhooks
      summary: Fetch webhook public key
      description: Webhook public key
      operationId: fetchPublicKey
      responses:
        '200':
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                example: 'MEgCQQCo9+BpMRYQ/dL3DS2CyJxRF+j6ctbT3/Qp84+KeFhnii7NT7fELilKUSnxS30WAvQCCo2yU1orfgqr41mM70MBAgMBAAE='
        '401':
          $ref: './responses/Unauthorized.yaml'



components:
  parameters:
    $ref: './parameters/_index.yaml'
  schemas:
    $ref: './schemas/_index.yaml'
  responses:
    $ref: './responses/_index.yaml'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
