name: Validate OpenAPI schema

on:
  push:
    branches:
      - 'main'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install "openapi-spec-validator"
      - name: Run tests
        run: |
          python -m openapi_spec_validator "swagger.yaml"
      # Run Spectral
      - uses: stoplightio/spectral-action@latest
        with:
          file_glob: 'swagger.yaml'
